{%extends "base.html.twig"%}
{% block body %}
    <div class="container" style="background-color: rgba(255,255,255,0.1)!important">
        {# Si l'utilisateur est connecté#}
        {% if is_granted('IS_AUTHENTICATED_FULLY')%}
            <p style="text-align: center">Bienvenue au Bazar {{app.user.username}} !</p>
        {%else%}
            {# Non connecté#}
            <p style="text-align: center">Vous n'étes pas membre du Bazar</p>
        {%endif%}
        <div style='text-align: center'><img src="img/Acc.jpg" alt="" width=50%/></div>
            {#        A ajouter Carousel et mep accueil#}
    </div>
{% endblock body %}




{#{% block bouton %}
    <a class="nav-link float-right" href="/Ajouter">S'inscrire</a>
    {% if not is_granted ('IS_AUTHENTICATED_FULLY')%}
        <a class="nav-link float-right" href="{{path("login")}}">Se connecter</a>
        
    {% else %}
        <a class="nav-link float-right" href="{{path("logout")}}">Se deconnecter</a>
    {% endif %}
    {% endblock bouton %}#}